.alfabeto {
    background-color: var(--alfabeto-bg);
    color: var(--white-fg);
    display: flex;
    height: 40%;
    font-family: "Robot Condensed", sans-serif;
    font-weight: 300;
    overflow: auto;
}
.sub-formulario-header {
    font-size: 18px;
    font-family: "Rubik", sans-serif;
}

.tamano {
    margin: 20px 0px;
}
.tamano input {
    background: var(--white-fg);
    color: var(--black-fg);
    height: 30px;
    width: 50px;
    border: none;
    text-align: center;
    border-radius: 5px;
}

.tabla-alfabeto {
    height: 100%;
}
.tabla-alfabeto table, .tabla-alfabeto caption {
    text-align: center;
    min-width: 160px;
}

table {
    width: 100%;
    background: var(--white-fg);
    color: var(--black-fg);
    font-weight: bold;
}
caption {
    background: var(--black-fg);
    color: var(--white-fg);
    padding: 10px 5px;
    text-transform: uppercase;
}
td, th {
    padding: 8px;
    border-bottom: 1px solid white;
}
tr:nth-child(even){
    background: var(--black-fg);
    color: var(--white-fg);
}
