.alfabeto {
    background-color: var(--alfabeto-bg);
    color: var(--white-fg);
    display: flex;
    height: 40%;
    font-family: "Robot Condensed", sans-serif;
    font-weight: 300;
}
.sub-formulario-header {
    font-size: 18px;
    font-family: "Rubik", sans-serif;
}

.tamano {
    margin: 20px 0px;
}
.tamano input {
    background: var(--white-fg);
    color: var(--black-fg);
    height: 30px;
    width: 50px;
    border: none;
    text-align: center;
    border-radius: 5px;
}

.tabla-alfabeto {
    height: 100%;
}
.tabla-alfabeto table, .tabla-alfabeto caption {
    text-align: center;
    min-width: 160px;
}
