/*Color scheme*/
:root {
  --white-fg:		#edf6f9;
  --black-fg:		#003049;

  --header-bg:		#14213d;
  --alfabeto-bg:	#023e8a;
  --automata-bg:	#0096c7;
  --operacion-bg:	#90e0ef;

  --afd-anfd:		#91EAE4;

  --red:		#e55039;
  --yellow:		#ffe6a7;
  --orange:		#fa983a;
  --blue:		#4a69bd;
  --green:		#78e08f;
}
