.formulario {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40vh;
}
.automata, .alfabeto {
    background: var(--blue);
    color: var(--wall-bg);
    border-radius: 5px;
    height: 50%;
    width: 240px;
    padding: 20px;
}

.automata h2, .alfabeto h2 {
    position: absolute;
    top: 24%;
    font-weight: bold;
    color: var(--header-bg);
}
.automata button, .alfabeto button {
    background-color: var(--wall-bg);
    font-weight: bold;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 30px;
}
.automata button:hover , .alfabeto button:hover {
    background-color: var(--yellow);
}

.estados input, .tamano input {
    background: var(--wall-bg);
    color: var(--blue);
    border: none;
    height: 30px;
    width: 50px;
    text-align: center;
    border-radius: 5px;
}
.estados ,.tamano, .afd-or-anfd {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.afd-or-anfd {
    padding: 10px 0px;
}
.afd-or-anfd input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    width: 60px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    transition: 0.5s;
    background-color: var(--btn1);
}
.afd-or-anfd input:checked[type="checkbox"] {
    background-color: var(--btn2);
}
.afd-or-anfd input[type="checkbox"]:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    top: 0;
    left: 0;
    background-color: white;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: 0.5s;
}
.afd-or-anfd input:checked[type="checkbox"]:before {
    left: 30px;
}
