/* Load config*/
@import "colors.css";
@import "header.css";
@import "sections.css";
@import "tooltip.css";
@import "popup.css";
@import "alfabeto.css";
@import "automata.css";
@import "etiqueta.css";
@import "operations.css";

body {
    width: 100%;
    height: 100vh;
    background-size: 2em 2em;
}

* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

.tips {
    background-color: var(--header-bg);
    color: white;
    display: flex;
    align-items: center;
    height: 45px;
    width: 100%;
    font-family: Poppins, sans-serif;
    font-size: 0.8em;
}
.tips h3 {
    width: 318px;
    padding-left: 10px;
}
