.wall {
    background: var(--wall-bg);
    height: 100vh;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

.transicion button {
    position: absolute;
    left: 15vw;
    background-color: var(--green);
    color: var(--header-bg);
    padding: 10px;
    border-radius: 10px;
}
.sub-transicion {
    text-align: center;
    padding: 10px;
}

.finalizar {
    margin-top: 100px;
    background-color: var(--orange);
    text-align: center;
}
.finalizar button {
    background-color: var(--orange);
    color: var(--wall-bg);
    border: none;
}
